doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Dreams
  body
    div.wrapper-home
      div.home
        div.home-content
          header.header
            a.header-logo(href="#")
              img(src="images/header-logo.png", alt="logo")
            nav.header-menu
              a.header-menu-item(href="#") home
              a.header-menu-item(href="#") services
              a.header-menu-item(href="#") portfolio
              a.header-menu-item(href="#") about
              a.header-menu-item(href="#") team
              a.header-menu-item(href="#") contact
            div.wrapper-menu
              input(type="checkbox" id="check-menu")
              label(for="check-menu")
              div.burger-line.first
              div.burger-line.second
              div.burger-line.third
              div.burger-line.fourth
              nav.main-menu
                a.main-menu-item(href="#") home
                a.main-menu-item(href="#") services
                a.main-menu-item(href="#") portfolio
                a.main-menu-item(href="#") about
                a.main-menu-item(href="#") team
                a.main-menu-item(href="#") contact   
          div.banner
            h1.banner-title Build the website of your dreams
            p.banner-description 
              |We are a digital agency that believes in building things that are  meaningful!  
    div.wrapper
      div.services
        h2.title Core Services
        div.service-content
          div.service
            img.service-icon(src="images/tools.png", alt="icon")
            h3.subtitle Beautiful Designs
            p.description 
              |Proin iaculis purus consequat sem digni ssim. Donec porttitora entum aenean rhoncus 
              |posuere odio in. Iaculis purus digni.
          div.service
            img.service-icon(src="images/flow-tree.png", alt="icon")
            h3.subtitle web development
            p.description 
              |Proin iaculis purus consequat sem digni ssim. Donec porttitora entum aenean rhoncus 
              |posuere odio in. Iaculis purus digni.
          div.service
            img.service-icon(src="images/lifebuoy.png", alt="icon")
            h3.subtitle 24/7 Support
            p.description 
              |Proin iaculis purus consequat sem digni ssim. Donec porttitora entum aenean rhoncus 
              |posuere odio in. Iaculis purus digni.        
    div.wrapper-with-bg
      div.other-expertise
        div.other-expertise-content
          div.title-wrapper
            h2.title.title-without-after Other Expertise
            p.other-expertise-description 
              |Proin iaculis purus consequat sem cure  digni ssim. Donec porttitora entum suscipit  
              |aenean rhoncus posuere odio in tincidunt consequat sem cure  digni ssim.
          div.items
            div.items-wrp
              div.item
                img.item-icon(src="images/Gear-Icon.png", alt="icon")
                div.item-wrapper
                  h4.sub-subtitle Custom setup
                  p.description 
                    |Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit 
                    |aenean rhoncus.
              div.item
                img.item-icon(src="images/Cloud-Icon.png", alt="icon")
                div.item-wrapper
                  h4.sub-subtitle Cloud control
                  p.description 
                    |Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit 
                    |aenean rhoncus.
            div.items-wrp        
              div.item
                img.item-icon(src="images/Star-Icon.png", alt="icon")
                div.item-wrapper
                  h4.sub-subtitle All star support team
                  p.description 
                    |Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit 
                    |aenean rhoncus.
              div.item
                img.item-icon(src="images/Lock-Icon.png", alt="icon")
                div.item-wrapper
                  h4.sub-subtitle top notch security
                  p.description 
                    |Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit 
                    |aenean rhoncus.                         
          button.button LEARN MORE
        div.other-expertise-img
          img.desktop-img(src="images/other-expertise-image.png", alt="image")
          img.mobile-img(src="images/other-expertise-image-mobile.png", alt="image")
    div.wrapper
      div.amazing-portfolio
        div.amazing-portfolio-content
          h2.title.title-without-after Amazing Portfolio
          div.description-wrapper
            p.description.amazing-portfolio-description
              |Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean 
              |rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec 
              |porttitora entum suscipit.
            p.description 
             |Iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus 
             |posuere odio in tincidunt. Proin iaculis purus consequat.
          div.items        
              div.item.amazing-portfolio-item
                img.item-icon(src="images/Gear-Icon.png", alt="icon")
                div.item-wrapper
                  h4.sub-subtitle Sail Away Your Worries
                  p.description 
                    |Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit 
                    |aenean rhoncus.
              div.item.amazing-portfolio-item
                img.item-icon(src="images/Star-Icon.png", alt="icon")
                div.item-wrapper
                  h4.sub-subtitle All star support team
                  p.description 
                    |Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit 
                    |aenean rhoncus.
              div.item.amazing-portfolio-item
                img.item-icon(src="images/Pie-Icon.png", alt="icon")
                div.item-wrapper
                  h4.sub-subtitle fully Integrated service
                  p.description 
                    |Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit 
                    |aenean rhoncus.
        div.amazing-portfolio-img
          img(src="images/iPad.png", alt="image")    
      div.portfolio
        img(src="images/Image-1.png", alt="image")
        img(src="images/Image-2.png", alt="image")
        img(src="images/Image-3.png", alt="image")
        img(src="images/Image-4.png", alt="image")
        img(src="images/Image-5.png", alt="image")
        img(src="images/Image-6.png", alt="image")
      div.about
        div.about-content
          h2.title about us
          div.our-story
            div.our-story-wrapper
              div.parth-of-story
                div.parth-of-story-wrapper.text-align-right           
                  h3.subtitle.text-align-right July 2010 
                  h3.subtitle.text-align-right Our Humble Beginnings
                  p.description 
                    |Proin iaculis purus consequat sem cure 
                    |digni ssim. Donec porttitora entum suscipit 
                    |aenean rhoncus posuere odio in tincidunt. Proin 
                    |iaculis purus consequat sem cure digni 
                    |ssim. Donec porttitora entum suscipit.
                div.parth-of-story-img
                  img(src="images/story-Image.png", alt="image")
            div.our-story-wrapper.justify-content-flex-end
              div.parth-of-story.align-itens-flex-end
                div.parth-of-story-wrapper.order-2           
                  h3.subtitle.text-align-left January 2011
                  h3.subtitle.text-align-left Facing Startup Battles
                  p.description 
                    |Proin iaculis purus consequat sem cure 
                    |digni ssim. Donec porttitora entum suscipit 
                    |aenean rhoncus posuere odio in tincidunt. Proin 
                    |iaculis purus consequat sem cure digni 
                    |ssim. Donec porttitora entum suscipit.
                div.parth-of-story-img
                  img(src="images/story-Image2.png", alt="image")
            div.our-story-wrapper
              div.parth-of-story
                div.parth-of-story-wrapper.text-align-right           
                  h3.subtitle.text-align-right December 2012 
                  h3.subtitle.text-align-right Enter The Dark Days
                  p.description 
                    |Proin iaculis purus consequat sem cure 
                    |digni ssim. Donec porttitora entum suscipit 
                    |aenean rhoncus posuere odio in tincidunt. Proin 
                    |iaculis purus consequat sem cure digni 
                    |ssim. Donec porttitora entum suscipit.
                div.parth-of-story-img
                  img(src="images/story-Image3.png", alt="image")
            div.our-story-wrapper.justify-content-flex-end
              div.parth-of-story.align-itens-flex-end
                div.parth-of-story-wrapper.order-2           
                  h3.subtitle.text-align-left february 2014
                  h3.subtitle.text-align-left Our Triumph
                  p.description 
                    |Proin iaculis purus consequat sem cure 
                    |digni ssim. Donec porttitora entum suscipit 
                    |aenean rhoncus posuere odio in tincidunt. Proin 
                    |iaculis purus consequat sem cure digni 
                    |ssim. Donec porttitora entum suscipit.
                div.parth-of-story-img
                  img(src="images/story-Image4.png", alt="image")
            button.continues Our Story Continues ...     
    div.wrapper-with-bg
      div.team
        h2.title Awesome Team
        div.team-wrapper
          div.team-member
            div.team-member-photo
              img(src="images/team-member.png", alt="team member photo")
            h3.subtitle.team-member-name Jimmy Letterman
            p.description.team-member-profession Marketer
            div.team-member-social
              a.member-social-link.tw
                img(src="images/Twitter.png" alt="Social logo")
              a.member-social-link.fb
                img(src="images/Facebook.png" alt="Social logo")
              a.member-social-link.pin
                img(src="images/Pinterest.png" alt="Social logo")
          div.team-member
            div.team-member-photo
              img(src="images/team-member2.png" alt="team member photo")
            h3.subtitle.team-member-name Rico Massimo
            p.description.team-member-profession Coder
            div.team-member-social
              a.member-social-link.tw
                img(src="images/Twitter.png" alt="Social logo")
              a.member-social-link.fb
                img(src="images/Facebook.png" alt="Social logo")
              a.member-social-link.g-plus
                img(src="images/Google+.png" alt="Social logo")
          div.team-member
            div.team-member-photo
              img(src="images/team-member3.png" alt="team member photo")
            h3.subtitle.team-member-name Lisa Mason
            p.description.team-member-profession Graphic Designer
            div.team-member-social
              a.member-social-link.fb
                img(src="images/Facebook.png" alt="Social logo")
              a.member-social-link.pin
                img(src="images/Pinterest.png" alt="Social logo")
        p.team-description.
          Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit
          aenean rhoncus posuere odio in tincidunt proin iaculis.       