doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Dreams
  body
    div.wrapper-home
      div.home
        div.home-content
          header.header
            a.header-logo(href="#")
              img(src="images/header-logo.png", alt="logo")
            nav.header-menu
              a.header-menu-item(href="#") home
              a.header-menu-item(href="#") services
              a.header-menu-item(href="#") portfolio
              a.header-menu-item(href="#") about
              a.header-menu-item(href="#") team
              a.header-menu-item(href="#") contact
            div.wrapper-menu
              input(type="checkbox" id="check-menu")
              label(for="check-menu")
              div.burger-line.first
              div.burger-line.second
              div.burger-line.third
              div.burger-line.fourth
              nav.main-menu
                a.main-menu-item(href="#") home
                a.main-menu-item(href="#") services
                a.main-menu-item(href="#") portfolio
                a.main-menu-item(href="#") about
                a.main-menu-item(href="#") team
                a.main-menu-item(href="#") contact   
          div.banner
            h1.banner-title Build the website of your dreams
            p.banner-description 
              |We are a digital agency that believes in building things that are  meaningful!  
    div.wrapper
      div.services
        h2.title Core Services
        div.service-content
          div.service
            img.service-icon(src="images/tools.png", alt="icon")
            h3.subtitle Beautiful Designs
            p.description 
              |Proin iaculis purus consequat sem digni ssim. Donec porttitora entum aenean rhoncus 
              |posuere odio in. Iaculis purus digni.
          div.service
            img.service-icon(src="images/flow-tree.png", alt="icon")
            h3.subtitle web development
            p.description 
              |Proin iaculis purus consequat sem digni ssim. Donec porttitora entum aenean rhoncus 
              |posuere odio in. Iaculis purus digni.
          div.service
            img.service-icon(src="images/lifebuoy.png", alt="icon")
            h3.subtitle 24/7 Support
            p.description 
              |Proin iaculis purus consequat sem digni ssim. Donec porttitora entum aenean rhoncus 
              |posuere odio in. Iaculis purus digni.        
    div.wrapper-other-expertise
      div.other-expertise
        div.other-expertise-content
          div.title-wrapper
            h2.title.title-without-after Other Expertise
            p.other-expertise-description 
              |Proin iaculis purus consequat sem cure  digni ssim. Donec porttitora entum suscipit  
              |aenean rhoncus posuere odio in tincidunt consequat sem cure  digni ssim.
          div.items
            div.items-wrp
              div.item
                img.item-icon(src="images/Gear-Icon.png", alt="icon")
                div.item-wrapper
                  h4.sub-subtitle Custom setup
                  p.description 
                    |Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit 
                    |aenean rhoncus.
              div.item
                img.item-icon(src="images/Cloud-Icon.png", alt="icon")
                div.item-wrapper
                  h4.sub-subtitle Cloud control
                  p.description 
                    |Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit 
                    |aenean rhoncus.
            div.items-wrp        
              div.item
                img.item-icon(src="images/Star-Icon.png", alt="icon")
                div.item-wrapper
                  h4.sub-subtitle All star support team
                  p.description 
                    |Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit 
                    |aenean rhoncus.
              div.item
                img.item-icon(src="images/Lock-Icon.png", alt="icon")
                div.item-wrapper
                  h4.sub-subtitle top notch security
                  p.description 
                    |Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit 
                    |aenean rhoncus.                         
          button.button LEARN MORE
        div.other-expertise-img
          img.desktop-img(src="images/other-expertise-image.png", alt="image")
          img.mobile-img(src="images/other-expertise-image-mobile.png", alt="image")
